
@page "/normal"

<h1>Normal Counter</h1>

<p>Current Hamburgers: @currentHamburgers  Hotdogs: @currentHotdogs</p>

<button class="btn btn-primary" @onclick="IncrementHamburger">Add Hamburger</button>
<button class="btn btn-primary" @onclick="IncrementHotdog">Add Hotdog</button>

@code {
    private int currentHamburgers = 0;
    private int currentHotdogs = 0;

    private void IncrementHamburger()
    {
        currentHamburgers++;
    }

    private void IncrementHotdog()
    {
        currentHotdogs++;
    }
}
